:root{
    --primary: #43A164;
    --secondary: #FCB833;
    --gray: #505050;
    --dark: #08110B;
}
*{
    padding: 0;
}
.nav-link{
    position: relative;
}
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #FCB833;
    transition: width 0.3s;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: .3rem;
    transform-style: preserve-3d;
    transform: rotateY(90deg);
}
.nav-link:hover::after {
    transform: rotateY(0deg);
    transition: transform 0.5s;
}
.secondary{
    background-color: #F5F5F5;
}
.btn-primary{
    background-color: var(--primary);
    color: white;
}
.btn-primary:hover{
    background-color: #36974E;
    color: white;
}