@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #1D4ED8;   // biru
    --color-secondary: #9333EA; // ungu
    --color-accent: #F59E0B;    // kuning
    --color-danger: #DC2626;    // merah
  }
}
